*{
	font-family: Verdana;
}
body{
	background: #F7F5F5;
} 
.container{
	width: 80%;
	margin: auto;
}

header {
	background: black;
	width: 100;
	padding: 10px;
}

header a{
	text-decoration: none;
}

.seccion_imagen img{
	width: 100%;
} 

.seccion_noticias {
	padding: 20px;
	text-align: justify;
	line-height: 2;
	background-color: white;
}

main i {
	color: rgb(247, 177, 96);
}

main {
	background-color: #FAECDC;
	padding: 20px; 
}

footer {
	background-color: black;
	color: white;
	padding: 20px;
}

footer a {
	text-decoration: none;
}